In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Importing Pandas library 
import pandas as pd

In [3]:
#Loading the GWAS catalog TSV file
df = pd.read_csv("gwas_catalog_v1.0-associations_e114_r2025-06-10.tsv", sep = "\t")

In [3]:
print("Total no. of rows and columns are: ", df.shape)

Total no. of rows and columns are:  (888097, 34)

In [4]:
df.head()

,DATE ADDED TO CATALOG,PUBMEDID,FIRST AUTHOR,DATE,JOURNAL,LINK,STUDY,DISEASE/TRAIT,INITIAL SAMPLE SIZE,REPLICATION SAMPLE SIZE,...,CONTEXT,INTERGENIC,RISK ALLELE FREQUENCY,P-VALUE,PVALUE_MLOG,P-VALUE (TEXT),OR or BETA,95% CI (TEXT),PLATFORM [SNPS PASSING QC],CNV
0,2011-04-07,21408207,Chung SA,2011-03-03,PLoS Genet,www.ncbi.nlm.nih.gov/pubmed/21408207,Differential genetic associations for systemic...,Systemic lupus erythematosus,811 anti-dsDNA positive European ancestry case...,NaN,...,intron_variant,0.0,0.13,6.000000e-29,28.221849,(anti-dsDNA +),2.21,[1.93-2.53],Illumina [421318] (imputed),N
1,2011-04-07,21408207,Chung SA,2011-03-03,PLoS Genet,www.ncbi.nlm.nih.gov/pubmed/21408207,Differential genetic associations for systemic...,Systemic lupus erythematosus,811 anti-dsDNA positive European ancestry case...,NaN,...,intron_variant,0.0,0.23,2.000000e-20,19.698970,(anti-dsDNA +),1.77,[1.57-1.99],Illumina [421318] (imputed),N
2,2011-04-07,21408207,Chung SA,2011-03-03,PLoS Genet,www.ncbi.nlm.nih.gov/pubmed/21408207,Differential genetic associations for systemic...,Systemic lupus erythematosus,811 anti-dsDNA positive European ancestry case...,NaN,...,intergenic_variant,1.0,0.11,7.000000e-18,17.154902,(anti-dsDNA +),1.92,[1.66-2.22],Illumina [421318] (imputed),N
3,2011-04-07,21408207,Chung SA,2011-03-03,PLoS Genet,www.ncbi.nlm.nih.gov/pubmed/21408207,Differential genetic associations for systemic...,Systemic lupus erythematosus,811 anti-dsDNA positive European ancestry case...,NaN,...,intergenic_variant,1.0,0.57,4.000000e-06,5.397940,(anti-dsDNA +),1.32,[1.18-1.47],Illumina [421318] (imputed),N
4,2011-04-07,21408207,Chung SA,2011-03-03,PLoS Genet,www.ncbi.nlm.nih.gov/pubmed/21408207,Differential genetic associations for systemic...,Systemic lupus erythematosus,811 anti-dsDNA positive European ancestry case...,NaN,...,regulatory_region_variant,0.0,0.81,4.000000e-06,5.397940,(case-only),1.56,[1.30-1.89],Illumina [421318] (imputed),N

In [5]:
#extracting first 25000 rows from the dataset
new_df = df.head(25000)

In [6]:
new_df.to_csv("new.tsv", sep="\t", index=False)

In [13]:
#Finding the unique genes in new.tsv
unique_gene = df['MAPPED_GENE'].dropna().unique()
unique_gene = pd.Series(unique_gene).str.split(',').explode()
unique_gene = unique_gene.str.strip()

In [14]:
print("No.of unique genes present : ", len(unique_gene))
print(unique_gene[:20])

No.of unique genes present :  53913
0                  TNXB
1                 STAT4
2          IRF5 - TNPO3
3         SLC1A7 - CPT2
4             LINC00578
5                  TMC2
6         FAM167A - BLK
7                 LAMC2
8                UBE2L3
9             LINC01701
10                TNPO3
11      CWC22 - SCHLAP1
12               OR4A15
13             HLA-DQA1
14                ITGAM
15     RCC2P8 - COL25A1
16            MIR3142HG
17                PHRF1
18             HLA-DQB2
19    RPL7AP9 - YWHAQP7
dtype: object

In [15]:
genes_df=pd.DataFrame(unique_gene, columns=['Gene'])
genes_df.to_csv("unique_genes.csv", index=False)

In [16]:
#Finding unique traits/diseases
unique_traits=df['DISEASE/TRAIT'].dropna().unique()

print("No.of unique traits present : ", len(unique_traits))

No.of unique traits present :  43309

In [17]:
print(unique_traits[:20])

['Systemic lupus erythematosus' 'Retinal vascular caliber'
 'Urinary albumin excretion' "Alzheimer's disease (late onset)"
 'HIV-1 progression' 'Suicide risk' 'Nonalcoholic fatty liver disease'
 'Optic disc area' "Dupuytren's disease" 'Triglycerides' 'LDL cholesterol'
 'HDL cholesterol' 'Non-small cell lung cancer (survival)' 'Vitiligo'
 'Factor VII' 'Hemostatic factors and hematological phenotypes'
 'Adiponectin levels' 'Intelligence (childhood)' 'Bipolar disorder'
 'Stroke']

In [18]:
traits_df=pd.DataFrame(unique_traits, columns=['Disease/Trait'])
traits_df.to_csv("unique_traits.csv", index=False)

In [19]:
genes = df['MAPPED_GENE'].dropna()
genes_split = genes.str.split(',').explode()
genes_split = genes_split.str.strip()

gene_counts = genes_split.value_counts()
top_10_genes = gene_counts.head(10)

print("Top 10 genes with most associations (across traits):")
print(top_10_genes)

Top 10 genes with most associations (across traits):
MAPPED_GENE
FADS2      7592
FADS1      4050
ALDH1A2    3858
SARM1      2641
TMEM258    2381
GCKR       2302
ABO        2223
APOE       1994
VTN        1983
ZPR1       1971
Name: count, dtype: int64

In [20]:
top_genes_df=top_10_genes.reset_index()
top_genes_df.columns=['Gene', 'Count']
top_genes_df.to_csv("Top_10_genes.csv", index=False)

In [21]:
#Finding Chr number and mutations for the top 10 genes
top_10_genes = gene_counts.head(10).index.tolist()

results=[]

for gene in top_10_genes:
    gene_rows=df[df['MAPPED_GENE'].str.contains(rf'\b{gene}\b', na=False)]

    chr_series = pd.Series(gene_rows['CHR_ID'].dropna().unique())
    chr_flat = chr_series.str.split(';').explode()
    chr_cleaned = pd.to_numeric(chr_flat.str.strip(), errors='coerce').dropna().astype(int).astype(str).unique()

    chr_id = chr_cleaned
    
    snp_allele=gene_rows['STRONGEST SNP-RISK ALLELE'].dropna().unique()
    snp_allele = pd.Series(snp_allele)
    snp_allele = snp_allele[~snp_allele.str.endswith('-?')].unique()

    results.append(
      {
        'Gene': gene,
        'Chromosome ID':', '.join(chr_id),
        'SNP-Risk Allele':', '.join(snp_allele)
      }
    )

result_df=pd.DataFrame(results)
print(result_df)

      Gene Chromosome ID                                    SNP-Risk Allele
0    FADS2            11  rs174548-G, rs174547-T, rs174546-T, rs174546-C...
1    FADS1            11  rs174548-G, rs174547-T, rs174546-T, rs174546-C...
2  ALDH1A2            15  rs261334-G, rs1800588-T, rs2043085-A, rs104680...
3    SARM1            17  rs7212510-A, rs704-A, rs704-G, rs2071379-A, rs...
4  TMEM258            11  rs102275-C, rs102275-T, rs174536-C, rs102274-C...
5     GCKR             2  rs1260333-C, rs780094-T, rs780093-T, rs780093-...
6      ABO             9  rs657152-T, rs651007-T, rs635634-T, rs579459-C...
7     APOE            19  rs439401-C, rs769449-A, rs439401-T, rs439401-G...
8      VTN            17         rs704-A, rs704-G, rs2071379-A, rs2227723-T
9     ZPR1            11  rs964184-G, rs6589566-G, rs2075290-C, rs118235...

In [22]:
result_df.to_csv("ChrID_and_mutations.tsv", sep='\t', index=False)

In [23]:
#Population with most occurrences for top 10 genes
top_10_genes = gene_counts.head(10).index.tolist()
pop_keywords = ['European', 'African', 'Asian', 'East Asian', 'South Asian', 'Hispanic', 
                'Japanese', 'Chinese', 'British', 'Finnish']
pop_results=[]

for gene in top_10_genes:
    gene_rows=df[df['MAPPED_GENE'].str.contains(rf'\b{gene}\b', na=False)]

    pop=[]
    for entry in gene_rows['INITIAL SAMPLE SIZE'].dropna():
        for keyword in pop_keywords:
             if keyword.lower() in entry.lower():
                pop.append(keyword)
    if pop:
        most_common_pop = pd.Series(pop).value_counts().idxmax()
    else:
        most_common_pop = 'Unknown'

    pop_results.append({'Gene': gene, 'Most Common Population': most_common_pop})

pop_df = pd.DataFrame(pop_results)
print(pop_df)

      Gene Most Common Population
0    FADS2               European
1    FADS1               European
2  ALDH1A2               European
3    SARM1               European
4  TMEM258               European
5     GCKR               European
6      ABO               European
7     APOE               European
8      VTN               European
9     ZPR1               European

In [24]:
pop_df.to_csv("populations_with_most_occurance_for_the_top_10_genes.csv", index=False)

In [25]:
#Genes having P-value > 0.5
df['P-VALUE'] = pd.to_numeric(df['P-VALUE'], errors='coerce')

high_pval_df = df[df['P-VALUE'] > 0.5]

high_pval_genes = high_pval_df['MAPPED_GENE'].dropna().unique()

print("Genes with P-value > 0.5:")
for gene in high_pval_genes:
    print(gene)
else:
    print("No genes found with P > 0.5")

Genes with P-value > 0.5:
No genes found with P > 0.5

In [26]:
#Confirming the above result
print("Min P-VALUE:", df['P-VALUE'].min())
print("Max P-VALUE:", df['P-VALUE'].max())

Min P-VALUE: 0.0
Max P-VALUE: 1e-05

In [4]:
#Top 10 genes with highest Odds Ratio
import numpy as np

df['OR or BETA'] = pd.to_numeric(df['OR or BETA'], errors='coerce')

df_or = df.dropna(subset=['OR or BETA', 'MAPPED_GENE'])
df_or['MAPPED_GENE'] = df_or['MAPPED_GENE'].str.replace(' - ', ',')
df_or['MAPPED_GENE'] = df_or['MAPPED_GENE'].str.split(',')

df_genes = df_or.explode('MAPPED_GENE')
df_genes['MAPPED_GENE'] = df_genes['MAPPED_GENE'].str.strip()

df_clean = df_genes[np.isfinite(df_genes['OR or BETA'])]

df_top_or = df_clean.sort_values(by='OR or BETA', ascending=False).drop_duplicates('MAPPED_GENE').head(10)

top_10_or = df_top_or[['MAPPED_GENE', 'OR or BETA']].head(10)

top_10_or_df = pd.DataFrame(top_10_or)
print("Top 10 genes with highest valid Odds Ratio:")
print(top_10_or)

Top 10 genes with highest valid Odds Ratio:
       MAPPED_GENE    OR or BETA
275341         ABO  1.400000e+14
613725     RPL7P45  1.521286e+08
613725  ATP6V1G1P7  1.521286e+08
113256      RBFOX1  6.900720e+05
113250       TECRL  6.069490e+05
113251       NAT16  4.826080e+05
113251      MOGAT3  4.826080e+05
113257       BTBD9  4.730580e+05
113255   LINC01994  3.571910e+05
113253       CASC8  3.563600e+05

In [28]:
top_10_or_df.to_csv("top_10_OR.csv", index=False)